#spotify {
    color: green;
}

#apple {
    color: white;
}

#youtube {
    color: red;
}

#platform {
    box-shadow: 0 0 0 2px gray;
}

#mediaPlayer {
    width: 100px;
    height: 100px;
    background: tan;
    gap: 15px;
}

#mediaImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
}

img {
    border-style: solid;
    border-color: red;
}

#mediaButtons {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100px;
    height: 50px;
    background: tan;
    gap: 15px;
}

#togglePlay {
    width: 20px;
    height: 20px;
    background: red;
}

#prev {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 20px solid red;
    border-bottom: 10px solid transparent;
}

#next {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid red;
    border-bottom: 10px solid transparent;
}

body {
    background-color: black;
    color: white;
}